In [1]:
items=[('name','Gumby'),('age',42)] #list of tuples

In [2]:
d=dict(items) #converts list to dictionary

In [3]:
d

{'name': 'Gumby', 'age': 42}

In [4]:
d['name']

'Gumby'

In [5]:
len(d)#returns number of key value pairs

2

In [7]:
d['age'] #returns value asssociated with the key mentioned

42

In [8]:
d['age']='v' #associates the value v with age(key)

In [9]:
d

{'name': 'Gumby', 'age': 'v'}

In [10]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}

In [11]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [21]:
d[1]=7

In [13]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 1: 7}

In [22]:
1 in d

True

In [14]:
len(d)

6

In [23]:
del d[1]

In [24]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [18]:
'a' in d

True

In [19]:
1 in d

False

In [20]:
'd' in d

True

In [25]:
del d['a']

In [26]:
d

{'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [27]:
d['a']=1

In [28]:
d

{'b': 2, 'c': 3, 'd': 4, 'e': 5, 'a': 1}

In [ ]:
#DICTIONARY METHODS

In [29]:
d.keys() #gives list of keys

dict_keys(['b', 'c', 'd', 'e', 'a'])

In [30]:
d.values() #method to grab all values

dict_values([2, 3, 4, 5, 1])

In [32]:
d.items() #returns dictionary in tuple format

dict_items([('b', 2), ('c', 3), ('d', 4), ('e', 5), ('a', 1)])

In [ ]:
#NESTED DICTIONARIES
#EACH PERSON NAME IS REPRESENTED AS ANOTHER DICTIONARY WITH KEYS PHONE NO AND ADDRESS

In [36]:
people={'Alice':{'phone':'2341','addr':'Foo drive 23'},\
        'beth':{'phone':'9102','addr':'Bar street 42'},\
        'cecil':{'phone':'3158','addr':'baz avenue 90'}}

In [37]:
labels={'phone':'phone number','addr':'address'}

In [38]:
name=input('Name:')

Name:cecil

In [39]:
# phone number or address?

In [40]:
request=input('Phone number (p) or address (a)?')

Phone number (p) or address (a)?a

In [41]:
if request=='p':key='phone'

In [42]:
if request =='a':key='addr'

In [43]:
if name in people:
    print("{}'s {} is {}.".format(name,labels[key],people[name][key]))

cecil's address is baz avenue 90.

In [1]:
d={'k1':1,'k2':2,'k3':3}

In [2]:
print (d)

{'k1': 1, 'k2': 2, 'k3': 3}

In [20]:
#TUPLES

In [5]:
1,2,3

(1, 2, 3)

In [6]:
(1,2,3)

(1, 2, 3)

In [8]:
()#EMPTY TUPLE

()

In [9]:
#TUPLE CONTAINING A SINGLE VALUE

In [10]:
42

42

In [11]:
(42,)

(42,)

In [12]:
42,

(42,)

In [13]:
3*(40+2)

126

In [14]:
3*(40+2,)

(42, 42, 42)

In [15]:
tuple([1,2,3]) #converting list into tuple

(1, 2, 3)

In [16]:
tuple('abc')

('a', 'b', 'c')

In [17]:
x=1,2,3

In [18]:
x[1]

2

In [19]:
x[0:2]

(1, 2)

In [21]:
#TUPLES ARE IMMUTABLE JUST LIKE LISTS BUT IMMUTABLE (CANT CHANGE ELEMENTS IN BETWEEN)

# STRING METHODS

In [22]:
#returns the left most index where the substring is found ,if it is not found -1 is returned

In [28]:
'with a moo-moo here and a moo-moo there'.find('moo')

7

In [27]:
subject='$$$ get rich now!!$$$'

In [26]:
subject.find('$$$',1) #searches from the 1st index

18

In [29]:
sep='+'
mylist=['a','b','c']
sep.join(mylist)

'a+b+c'

In [33]:
' '.join(['my','name','is','sonia'])

'my name is sonia'

In [34]:
#you should provide a list of strings otherwise it wont work

In [35]:
dirs='','usr','bin','env'

In [36]:
'/'.join(dirs)

'/usr/bin/env'

In [37]:
print('C:'+'\\'.join(dirs))

C:\usr\bin\env

In [38]:
'Trodheim Hammer Dance'.lower()

'trodheim hammer dance'

In [39]:
name='Gumby'

In [40]:
names=['gumby','smith','jones']

In [41]:
if name.lower() in names:print('found it!')

found it!

In [42]:
'this is a test'.replace('is','eez')

'theez eez a test'

In [43]:
'1+2+3+4+5'.split('+')

['1', '2', '3', '4', '5']

In [44]:
'/usr/bin/env'.split('/')

['', 'usr', 'bin', 'env']

In [45]:
'Using the default '.split()

['Using', 'the', 'default']

In [48]:
name='gumby '

In [49]:
name in names

False

In [51]:
if name.strip().lower() in names: print('found it!')

found it!

In [55]:
'*** SPAM * FOR * EVERYONE!!! ***'.strip(' *!') #starting and ending no in between

'SPAM * FOR * EVERYONE'

In [58]:
'India'.strip('i ')

'India'

In [59]:
'India'.strip('I')

'ndia'

In [60]:
'India'.strip('a')

'Indi'

In [63]:
table=str.maketrans('cs','kz') #replaces c<-k & s<-z

In [64]:
'this is an incredible test'.translate(table)

'thiz iz an inkredible tezt'

In [65]:
#an additional third argument is provided to maketrans , specifying letters that should be deleted

In [68]:
table=str.maketrans('cs','ks',' ')

In [70]:
'this is an incredible test'.translate(table)

'thisisaninkredibletest'