Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

In [1]:
result=[]
for i in range(2000,3201):
    if(i%7==0) and (i%5!=0):
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [1]:
lst=list('abc')

In [3]:
':-'.join(lst) #works only when it is a list of strings

'a:-b:-c'

In [5]:
str(1) #converting int to string

'1'

In [6]:
#function to convert int to string

In [8]:
def printValue(n):
    return str(n)
str(5)

'5'

In [11]:
def printValue(s1,s2):
    print(int(s1)+int(s2))
printValue("3","4")

7

In [12]:
def printval(s1,s2):
    len1=len(s1)
    len2=len(s2)
    if len1>len2:
        print(s1)
    elif len2>len1:
        print(s2)
    else:
        print(s1,'\ n ',s2)
printval('one','three')

three

In [15]:
def checkval(n):
    if n%2==0:
        print("it is an even number")
    else:
        print("it is odd")
checkval(9 )

it is odd

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program:8

Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [2]:
def printdict(n):
    d=dict()
    for i in range(1,n+1):
        d[i]=i**2
    return d
a=printdict(3)

In [3]:
a

{1: 1, 2: 4, 3: 9}

In [21]:
a.values()

dict_values([1, 4, 9])

Question: Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

Hints:

Use dict[key]=value pattern to put entry into a dictionary. Use ** operator to get power of a number. Use range() for loops. Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [23]:
def printlist(n):
    r=[]
    for i in range(1,n+1):
        p=i**2
        r.append(p)
    return r
printlist(20)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [44]:
def printlist():
    result=list(map(lambda x:x**2,range(1,21)))
    return result
printlist()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [45]:
result

[2, 4, 6, 8, 10]

In [32]:
t=(1,2,3,4,5,6,7,8,9,10)
len(t)

10

In [33]:
len(t)//2

5

In [34]:
t[:len(t)//2]

(1, 2, 3, 4, 5)

In [35]:
t[len(t)//2:]

(6, 7, 8, 9, 10)

In [38]:
t=(1,2,3,4,5,6,7,8,9,10)
result=[]
for i in t:
    if i%2==0:
        result.append(i)
tuple(result)

(2, 4, 6, 8, 10)

In [43]:
tuple(filter(lambda x:x%2==0,t))

(2, 4, 6, 8, 10)

In [ ]:
s=input('enter:')
if s=="yes" or s=="YES" or s=="Yes":
    print('yes')
else:
    print('no')