In [1]:
list1=[1,'abc',3]

In [2]:
list1[0]

1

In [5]:
list2=list1+[32,55,88]

In [6]:
list2

[1, 'abc', 3, 32, 55, 88]

In [11]:
list1.append(2)

In [12]:
list1

[1, 'abc', 3, 2, 2, 2]

In [13]:
cubes=[1,8,27,65,125]

In [15]:
cubes[3]=64

In [16]:
cubes

[1, 8, 27, 64, 125]

In [17]:
cubes.append(216)

In [18]:
cubes.append(7**3)

In [19]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [20]:
letters=['a','b','c','d','e','f','g']

In [21]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [22]:
#replacing
letters[2:5]=['C','D','E']

In [23]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [24]:
letters[2:5]=[]

In [25]:
letters

['a', 'b', 'f', 'g']

In [26]:
letters[:]=[]

In [27]:
letters

[]

In [28]:
letters=['a','b','c','d','e']

In [29]:
len(letters)

5

# NESTED LIST

In [37]:
edward=['Edward Gumby',42]

In [31]:
john=['John Smith',50]

In [38]:
database=[edward,john]

In [39]:
database

[['Edward Gumby', 42], ['John Smith', 50]]

In [40]:
database[0]

['Edward Gumby', 42]

In [41]:
a=['a','b','c']

In [42]:
n=[1,2,3]

In [43]:
x=[a,n]

In [44]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [45]:
x[0]

['a', 'b', 'c']

In [47]:
x[0][1]

'b'

In [48]:
x[1][0]

1

In [ ]:
months=['January','february','march','april','may','june','july','august','september','october','november','december']

In [ ]:
endings=['st','nd','rd']+17*['th']+['st','nd','rd']+7*['th']+['st']

In [ ]:
day=input('day(1-31):')

In [ ]:
month=input('month(1-12):')

In [62]:
year=input('year:')

year:2000

In [66]:
month_number=int(month)

In [67]:
day_number=int(day)

In [68]:
month_name=months[month_number-1]

In [76]:
ordinal=day+endings[day_number-1]

In [77]:
print(month_name+' '+ordinal+','+year)

January 1st,2000

In [70]:
17*'17'

'1717171717171717171717171717171717'

In [71]:
17*['17']

['17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17']

In [79]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [80]:
numbers[0:10:2] #skips 1 val in between

[1, 3, 5, 7, 9]

In [81]:
numbers[3:6:3]#from 3 to 6 skips 2 values (excluding 6)

[4]

In [82]:
numbers[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
numbers[::4] #skips 3 values in between from beginning to end

[1, 5, 9]

In [84]:
numbers[8:3:-1] #whenever u give -ve no as 3rd parameter give higher val:lower val

[9, 8, 7, 6, 5]

In [85]:
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [86]:
'd' in 'abcd' #in operator

True

In [87]:
'x' in 'abcd'

False

In [88]:
1 in [1,2,3,4]

True

In [90]:
input('enter a number') in [1,2,3,4]

enter a number1

False

In [91]:
int(input('enter a number')) in [1,2,3,4]

enter a number2

True

In [92]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [93]:
'hello'+'world'

'helloworld'

In [94]:
[1,2,3]+'world!'

TypeError: can only concatenate list (not "str") to list

In [95]:
python*5

NameError: name 'python' is not defined

In [96]:
'python'*5

'pythonpythonpythonpythonpython'

In [97]:
[42]*5

[42, 42, 42, 42, 42]

In [98]:
subject='$$$ get rich now!!! $$$'

In [100]:
'$$$'in subject

True

In [101]:
users=['mlh','foo','bar']

In [102]:
input('enter your user name:') in users

enter your user name:foo

True

In [104]:
permissions='rw'
'r' in permissions

True

In [105]:
if 1<2:print('something')

something

In [ ]:
database=[\
         ['albert','1234'],\
         ['dilbert','4242'],\
         ['smith','7524'],\
         ['jones','9843'],\
         ]

In [ ]:
username=input('user name:')

In [ ]:
pin=input('pin code:')

In [ ]:
if [username,pin] in database:print('access granted')

In [3]:
numbers1=[100,34,678]

In [4]:
l=len(numbers1)

In [5]:
l

3